In [1]:
import h2o 
#starting H2O locally
h2o.init()

Checking whether there is an H2O instance running at http://localhost:54321 ..... not found.
Attempting to start a local H2O server...
  Java Version: openjdk version "11.0.4" 2019-07-16; OpenJDK Runtime Environment (build 11.0.4+11-post-Ubuntu-1ubuntu218.04.3); OpenJDK 64-Bit Server VM (build 11.0.4+11-post-Ubuntu-1ubuntu218.04.3, mixed mode, sharing)
  Starting server from /home/mercury/.local/lib/python3.6/site-packages/h2o/backend/bin/h2o.jar
  Ice root: /tmp/tmpq2wk1kps
  JVM stdout: /tmp/tmpq2wk1kps/h2o_mercury_started_from_python.out
  JVM stderr: /tmp/tmpq2wk1kps/h2o_mercury_started_from_python.err
  Server is running at http://127.0.0.1:54321
Connecting to H2O server at http://127.0.0.1:54321 ... successful.

--------------------------  ------------------------------------------------------------------
H2O cluster uptime:         05 secs
H2O cluster timezone:       Asia/Kolkata
H2O data parsing timezone:  UTC
H2O cluster version:        3.28.0.1
H2O cluster version age:    21 days, 3 hours and 24 minutes
H2O cluster name:           H2O_from_python_mercury_cvtspn
H2O cluster total nodes:    1
H2O cluster free memory:    966 Mb
H2O cluster total cores:    4
H2O cluster allowed cores:  4
H2O cluster status:         accepting new members, healthy
H2O connection url:         http://127.0.0.1:54321
H2O connection proxy:       {'http': None, 'https': None}
H2O internal security:      False
H2O API Extensions:         Amazon S3, XGBoost, Algos, AutoML, Core V3, TargetEncoder, Core V4
Python version:             3.6.9 final
--------------------------  ------------------------------------------------------------------

In [2]:
#Usual Iris Dataset for Get Going
url = "http://h2o-public-test-data.s3.amazonaws.com/smalldata/iris/iris_wheader.csv"
iris = h2o.import_file(url)

Parse progress: |█████████████████████████████████████████████████████████| 100%

In [3]:
#Splitting Train, Test into 80% & 20% using H2O's inbuilt function
train, test = iris.split_frame([0.8])

In [4]:
#Gathering Summary of Data
train.summary()

,sepal_len,sepal_wid,petal_len,petal_wid,class
type,real,real,real,real,enum
mins,4.3,2.0,1.0,0.1,
mean,5.77258064516129,3.04758064516129,3.658870967741937,1.1588709677419355,
maxs,7.9,4.4,6.7,2.5,
sigma,0.8166298690575668,0.43194845177196595,1.7675950358771635,0.7639235581702603,
zeros,0,0,0,0,
missing,0,0,0,0,0
0,5.1,3.5,1.4,0.2,Iris-setosa
1,4.9,3.0,1.4,0.2,Iris-setosa
2,4.7,3.2,1.3,0.2,Iris-setosa
3,4.6,3.1,1.5,0.2,Iris-setosa
4,5.0,3.6,1.4,0.2,Iris-setosa
5,4.6,3.4,1.4,0.3,Iris-setosa
6,4.4,2.9,1.4,0.2,Iris-setosa
7,4.9,3.1,1.5,0.1,Iris-setosa
8,4.8,3.4,1.6,0.2,Iris-setosa
9,4.8,3.0,1.4,0.1,Iris-setosa

In [5]:
#Size of Train
train.nrows

124

In [6]:
#Size of Test
test.nrows

26

In [7]:
#Just a wild approach
from h2o.estimators.deeplearning import H2ODeepLearningEstimator

In [8]:
mDL = H2ODeepLearningEstimator()
mDL.train(["sepal_len","sepal_wid","petal_len","petal_wid"], "class", train)

deeplearning Model Build progress: |██████████████████████████████████████| 100%

In [9]:
mDL

Model Details
=============
H2ODeepLearningEstimator :  Deep Learning
Model Key:  DeepLearning_model_python_1578329065201_1


Status of Neuron Layers: predicting class, 3-class classification, multinomial distribution, CrossEntropy loss, 41,803 weights/biases, 498.2 KB, 1,240 training samples, mini-batch size 1

,,layer,units,type,dropout,l1,l2,mean_rate,rate_rms,momentum,mean_weight,weight_rms,mean_bias,bias_rms
0,,1,4,Input,0,,,,,,,,,
1,,2,200,Rectifier,0,0,0,0.00289286,0.00194784,0,-0.00297178,0.105139,0.484363,0.0119144
2,,3,200,Rectifier,0,0,0,0.00910555,0.0141416,0,-0.000818512,0.0701894,0.998953,0.00515372
3,,4,3,Softmax,,0,0,0.00333768,0.00740128,0,0.0075657,0.400553,-0.000722211,0.00184993

ModelMetricsMultinomial: deeplearning
** Reported on train data. **

MSE: 0.021500545898610925
RMSE: 0.14663064447314866
LogLoss: 0.06415819702508356
Mean Per-Class Error: 0.03258145363408521

Confusion Matrix: Row labels: Actual class; Column labels: Predicted class

   Iris-setosa  Iris-versicolor  Iris-virginica     Error     Rate
0         44.0              0.0             0.0  0.000000   0 / 44
1          0.0             39.0             3.0  0.071429   3 / 42
2          0.0              1.0            37.0  0.026316   1 / 38
3         44.0             40.0            40.0  0.032258  4 / 124

Top-3 Hit Ratios:

   k  hit_ratio
0  1   0.967742
1  2   1.000000
2  3   1.000000

Scoring History:

,,timestamp,duration,training_speed,epochs,iterations,samples,training_rmse,training_logloss,training_r2,training_classification_error
0,,2020-01-06 22:17:11,0.000 sec,None,0.0,0,0.0,NaN,NaN,NaN,NaN
1,,2020-01-06 22:17:12,0.994 sec,258 obs/sec,1.0,1,124.0,0.551108,1.733449,0.539084,0.322581
2,,2020-01-06 22:17:13,1.862 sec,985 obs/sec,10.0,10,1240.0,0.146631,0.064158,0.967371,0.032258

Variable Importances:

    variable  relative_importance  scaled_importance  percentage
0  petal_len             1.000000           1.000000    0.263963
1  petal_wid             0.954818           0.954818    0.252036
2  sepal_wid             0.919058           0.919058    0.242597
3  sepal_len             0.914541           0.914541    0.241405

In [10]:
p = mDL.predict(test)

deeplearning prediction progress: |███████████████████████████████████████| 100%

In [11]:
p

predict,Iris-setosa,Iris-versicolor,Iris-virginica
Iris-setosa,0.999985,1.50882e-05,5.05704e-18
Iris-setosa,0.999959,4.05574e-05,2.93576e-18
Iris-setosa,0.999954,4.59145e-05,8.85296e-19
Iris-setosa,0.999998,1.99721e-06,2.26745e-20
Iris-setosa,0.999654,0.000346365,1.35347e-17
Iris-setosa,0.999925,7.54025e-05,4.56728e-18
Iris-versicolor,1.28328e-07,0.997849,0.00215094
Iris-versicolor,9.3702e-06,0.990742,0.00924868
Iris-versicolor,6.01563e-08,0.959107,0.0408927
Iris-versicolor,0.000742371,0.995132,0.00412612

In [12]:
mDL.model_performance(test)

ModelMetricsMultinomial: deeplearning
** Reported on test data. **

MSE: 0.004675924349847042
RMSE: 0.06838073083732757
LogLoss: 0.02650032281401843
Mean Per-Class Error: 0.0

Confusion Matrix: Row labels: Actual class; Column labels: Predicted class

   Iris-setosa  Iris-versicolor  Iris-virginica  Error    Rate
0          6.0              0.0             0.0    0.0   0 / 6
1          0.0              8.0             0.0    0.0   0 / 8
2          0.0              0.0            12.0    0.0  0 / 12
3          6.0              8.0            12.0    0.0  0 / 26

Top-3 Hit Ratios:

   k  hit_ratio
0  1        1.0
1  2        1.0
2  3        1.0

##### End of File